---

import PageLayout from '@/layouts/CommonPage.astro'



---

<PageLayout title='About' >
  <p>Aspiring dilletante</p>
  <p>
    Used to work, now I don't.
  </p>
  <p>
    Thanks to the following excellent service providers:
  </p>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>cworld1</a> the developer who wrote the theme
    </li>
    <li>
      Site hosting: <a href='https://cloudflare.com/' target='_blank'>Cloudflare</a>
    </li>  
  </ul>
</PageLayout>
